*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Manrope', sans-serif;
}

h2{
    text-transform: uppercase;
}




header{
    background-color: #f4511e;
}

 nav{ 
    position: fixed;
    background-color: #f4511e;
    width: 100%;
    padding-top: 1%;
    display: flex;
    justify-content: space-between;
}

ul{
    display: flex;
    list-style: none;
     justify-content: space-around;
     width: 35%;
     margin-right: 10%;
     text-transform: uppercase;
}


a{
    text-decoration: none;
    color: white;
}

h1{
    color: white;
        font-size: 3em;
        height: 54px;

}

.logo{
        color: white;
        margin-left: 13%;
        font-size: 1.3em;
        font-weight: normal;
        text-transform: none;
}



.btn-subscribe{
    background-color: #f0684f;
    color: white;
    border: none;
    padding: 2px 13px;
    margin: 0 -3px;
    border-radius: 3px;
    padding: 4px 12px;
    

}

.email{
    min-width: 300px;
    padding: 4px 14px;
}



.devise{
    color: white;
}

.tete{
    display: flex;  
    padding: 4%;
    flex-direction: column;
    align-items: center;
    height: 160px;
    justify-content: space-between;
}

.about{
    display:flex;
    justify-content: end;
    
}

.about-text{
    display: flex;
    flex-direction: column;
    width: 69%;
}

.about-image{
    width: 27%;
}

.about-image img{
    width: 176px;
    margin: 110px 0;
}

.about-text h2{
    padding: 66px 0;
}

.p1{
    padding: 20px 0;
}

.about-text input{
    margin: 20px 0;
padding: 5px 13px;
background-color: white;
border: 1px solid #ccc;
border-radius: 6px;
color: #333;
}

.p1{
    color: #333;
}
.p2{
    color: #333;
}

.values{
    display: flex;
    background-color: #f6f6f6;
    padding: 45px 0;
}

.values-image{
    width: 30%;
}

.values-text{
    width: 65%;
}

.values-p1{
    padding: 45px 0;
    color: #333;

}

.values-p2{
    color: #333;
}


.services-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0;
}

.line1, .line2{
    display: flex;
    justify-content: space-around;
    margin: 43px 0;
}

.power, .love, .job{
    display: flex;
    flex-direction: column;
    height: 99px;
    justify-content: space-between;
    align-items: center;
}
 
.green, .certified, .hard{
    display: flex;
    flex-direction: column;
    height: 99px;
    justify-content: space-between;
    align-items: center;
}

.services h2{
    font-weight: normal;
}

.services p{
    color: #333;
    font-size: 0.7em;
}

.portfolio{
    background-color: #f6f6f6;
    height: 579px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.portfolio-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0;
    font-weight: normal;
}

.portfolio-text h2{
    font-weight: normal;
    margin-bottom: 53px;
}

.portfolio-text p{
    color: #333;
font-size: 0.7em;
}

.photo{
    display: flex;
    justify-content: space-around;
}

.paris, .ny, .sf{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 357px;
    background-color: white;
    justify-content: space-around;

}

.photo p{
    color: #333;
    font-size: 0.6em;
}